<main id="main" class="main">

    <div class="pagetitle">
        <h1>Ürün Girişi</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home/Index/">Ana Sayfa</a></li>
                <li class="breadcrumb-item">Ürün Girişi</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <form>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Ürün Girişi</h5>
                            <div class="row mb-3">
                                <div class="col-sm-12">                                   
									<select class="form-select" aria-label="Default select example">
										<option selected="">Ürün seçiniz..</option>
										<option value="1">Giyim</option>
										<option value="1">Besin</option>
										<option value="1">Bakım</option>
										<option value="1">Çocuk</option>
									</select>
									<br />
                                    <div class="form-floating mb-3">
                                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingText" style="height: 50px;"></textarea>
                                        <label for="floatingTextarea">Adet sayısı</label>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="inputDate" class="col-sm-12 col-form-label">Ürün Giriş Tarihi</label>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="col-sm-12">
                                                <input type="date" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected="">Depo seçiniz..</option>
                                                <option value="1">Giyim</option>
                                                <option value="1">Besin</option>
                                                <option value="1">Bakım</option>
                                                <option value="1">Çocuk</option>
                                            </select>
                                        </div>                                       
                                    </div>   
                                    <br />
                                    <button type="button" class="btn btn-primary">Ürün Girişi Yap</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form><!-- End General Form Elements -->

            </div>
        </div>
    </section>

</main><!-- End #main -->