
@{
    ViewData["Title"] = "DeleteProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Ürün Sil</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Admin/Home/Index/">Ana Sayfa</a></li>
                <li class="breadcrumb-item">Ürünler</li>
                <li class="breadcrumb-item active">Ürün Sil</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ürün Silme</h5>
                        <!-- Table with stripped rows -->
                        <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                            <div class="datatable-top">
                            </div>
                            <table class="table datatable">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>İsim</th>
                                        <th>Kategori</th>
                                        <th>Marka</th>
                                        <th>Birim ölçütü</th>
                                        <th>Kaldır</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Ayakkabı</td>
                                        <td>Giyim</td>
                                        <td>Nike</td>
                                        <td>Çift</td>
                                        <td><button type="button" align="left" class="btn btn-outline-danger" onclick="confirmDelete()"><i class="bi bi-trash"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- End Table with stripped rows -->
                    </div>
                </div>

            </div>
        </div>
    </section>

</main>

