<main id="main" class="main">

    <div class="pagetitle">
        <h1>Ürün Ekle</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home/Index/">Ana Sayfa</a></li>
                <li class="breadcrumb-item">Ürünler</li>
                <li class="breadcrumb-item active">Ürün Ekle</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <form>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Yeni Ürün Ekleme</h5>
                            <div class="row mb-3">
                                <div class="col-sm-12">
                                    <div class="form-floating mb-3">
                                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingText" style="height: 50px;"></textarea>
                                        <label for="floatingTextarea">Ürün ismi</label>
                                    </div>

                                    <div class="row">
                                        <div class="col md-6">
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected="">Kategori seçiniz..</option>
                                                <option value="1">Giyim</option>
                                            </select>
                                            <br />
                                        </div>

                                        <div class="col md-6">
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected="">Marka seçiniz..</option>
                                                <option value="1">Nike</option>
                                            </select>
                                            <br />
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingText" style="height: 50px;"></textarea>
                                        <label for="floatingTextarea">Birim ölçüsü</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 100px;"></textarea>
                                        <label for="floatingTextarea">Açıklama</label>
                                    </div>
                                    <button type="button" class="btn btn-primary">Ürün Ekle</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </form><!-- End General Form Elements -->
            </div>
        </div>
    </section>

</main><!-- End #main -->