@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Kayıt - Stok Takip</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/NiceAdmin/assets/img/favicon.png" rel="icon">
    <link href="~/NiceAdmin/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/NiceAdmin/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/NiceAdmin/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/NiceAdmin/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/NiceAdmin/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/NiceAdmin/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/NiceAdmin/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/NiceAdmin/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/NiceAdmin/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Updated: Jan 29 2024 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <main>
        <div class="container">

            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                            <div class="d-flex justify-content-center py-4">
                                <a href="" class="logo d-flex align-items-center w-auto">
                                    <img src="~/NiceAdmin/assets/img/logo.png" alt="">
                                    <span class="d-none d-lg-block">Stok Takip</span>
                                </a>
                            </div><!-- End Logo -->

                            <div class="card mb-3">

                                <div class="card-body">

                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Hesap Oluşturun</h5>
                                        <p class="text-center small">Kişisel bilgilerinizi giriniz.</p>
                                    </div>

                                    <form class="row g-3 needs-validation" novalidate>

                                        <div class="col-12">
                                            <label for="yourName" class="form-label">İsim</label>
                                            <input type="text" name="name" class="form-control" id="yourName" required>
                                            <div class="invalid-feedback">Lütfen isminizi giriniz!</div>
                                        </div>

                                        <div class="col-12">
                                            <label for="yourName" class="form-label">Soy isim</label>
                                            <input type="text" name="name" class="form-control" id="yourName" required>
                                            <div class="invalid-feedback">Lütfen soy isminizi giriniz!</div>
                                        </div>

                                        <div class="col-12">
                                            <label for="yourName" class="form-label">Sicil numarası</label>
                                            <input type="text" name="name" class="form-control" id="yourName" required>
                                            <div class="invalid-feedback">Lütfen sicil no giriniz!</div>
                                        </div>

                                        <div class="col-12">
                                            <label for="yourUsername" class="form-label">Kullanıcı adı</label>
                                            <div class="input-group has-validation">
                                                <input type="text" name="username" class="form-control" id="yourUsername" required>
                                                <div class="invalid-feedback">Kullanıcı adı giriniz!</div>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <label for="yourPassword" class="form-label">Şifre</label>
                                            <input type="password" name="password" class="form-control" id="password1" required>
                                            <div class="invalid-feedback">Lütfen şifre giriniz!</div>
                                        </div>

                                        <div class="col-12">
                                            <label for="confirmPassword" class="form-label">Şifre tekrar</label>
                                            <input type="password" name="confirmPassword" class="form-control" id="password2" required>
                                            <div class="invalid-feedback">Lütfen şifreyi tekrar giriniz!</div>
                                            <div id="passwordMatch" class="invalid-feedback" style="display: none;">Şifre eşleşmiyor!</div>
                                        </div>

                                        <div class="col-12">
                                            <button class="btn btn-primary w-100" type="submit">Kayıt Ol</button>
                                        </div>

                                        <script>
                                            // Get references to the password fields and the error message
                                            var password1 = document.getElementById('password1');
                                            var password2 = document.getElementById('password2');
                                            var passwordMatch = document.getElementById('passwordMatch');
                                            var signUpButton = document.getElementById('signUpButton');

                                            // Function to check if passwords match
                                            function validatePassword() {
                                                if (password1.value !== password2.value) {
                                                    passwordMatch.style.display = 'block';
                                                    password2.setCustomValidity('Şifre Eşleşmiyor!');
                                                } else {
                                                    passwordMatch.style.display = 'none';
                                                    password2.setCustomValidity('');
                                                }
                                            }

                                            // Function to handle sign up button click
                                            function signUpButtonClickHandler() {
                                                validatePassword(); // Validate passwords before submitting
                                            }

                                            // Add event listeners to both password fields
                                            password1.addEventListener('input', validatePassword);
                                            password2.addEventListener('input', validatePassword);

                                            // Add event listener to the sign up button
                                            signUpButton.addEventListener('click', signUpButtonClickHandler);
                                        </script>

                                        <div class="col-12">
                                            <p class="small mb-0">Already have an account? <a href="/Login/SignIn">Oturum Aç</a></p>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

        </div>
    </main><!-- End #main -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/NiceAdmin/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/NiceAdmin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/NiceAdmin/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="~/NiceAdmin/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/NiceAdmin/assets/vendor/quill/quill.min.js"></script>
    <script src="~/NiceAdmin/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/NiceAdmin/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/NiceAdmin/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/NiceAdmin/assets/js/main.js"></script>

</body>

</html>
